.clockFace {
    text-align: center;
    position: relative;
    width: 300px;
    height: 300px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem; 
    align-items: center;
    height: inherit;
}

.inner>h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}

.timer {
    display: inline-block;
    font-family: "alarm-clock", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #1f2f2f;
    filter: drop-shadow(1px 1px 1px #4f4f4f);
}

.divider {
    position: relative;
    top: -0.5rem;
}
