.progressRing {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.progressRing>svg {
    width: inherit;
    height: inherit;
}

.staticCircle {
    stroke: darkgray;
    filter: drop-shadow(1px 1px 2px rgba(128,128,128,0.5));
}

.progressCircle {
    transition: stroke-dashoffset 0.25s;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}